body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.MapTile {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border: 1px solid black;
}

.col-md-4 {
    border: solid black 1px;
    padding: 0px;
}

.col-md-2 {
    border: 1px solid black;
}

.DirButtons td {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}