body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.MapTile {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

.col-md-4 {
    border: solid black 1px;
}

.DirButtons td {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}